{% extends 'base.html' %}

{% block title %} Memeology {% endblock %}

{% block content %}
<section id="memeo">
    <div class="game-container">
        <div class="score-container">
            <span id="letter-1" class="letter">M</span>
            <span id="letter-2" class="letter">E</span>
            <span id="letter-3" class="letter">M</span>
            <span id="letter-4" class="letter">E</span>
            <span id="letter-5" class="letter">O</span>
        </div>
        <div class="form-container">
            <form methods="POST" class="add-keyword">
                <input type="text" class="keyword" name="keyword" placeholder="Enter your keyword">
                <button>Enter</button>
            </form>
        </div>
        <div class="results-container">
            <p class="msg"></p>
        </div>
        <div class="image-wrapper">
            <div class="image-container"></div>
            <div class="tiles-container"></div>
        </div>
    </div>
</section>

    <script src="/static/game.js"></script>
    <script>
        let game = new MemeoGame("memeo", "{{ src }}");
    </script>
{% endblock %}