<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Memeo</title>

  
  <link rel="stylesheet"
  href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="/static/stylesheet/style.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/bootstrap"></script>
</head>
<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/static/images/memeo-favicon.png" class="d-inline-block align-top" alt="Memeo favicon">
    </a>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">memeology</a>
        </li>
      </ul>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% if not g.user %}
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log in</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/instructions">Instructions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log out</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>



<div class="container">
{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}

{% block content %}

{% endblock %}

</div>


<script src="https://unpkg.com/axios/dist/axios.js"></script>

</body>
</html>