{% extends 'base.html' %}

{% block title %} Memeo {% endblock %}

{% block content %}

<div class="container mt-5 text-center">
    <h3 class="slogan">Find Out What We Meme</h3>
</div>
<div class="container mt-5 text-center">
    <img src="/static/images/memeo-logo.png" style="height: 450px; width: 400px;">
</div>
<div class="container mt-5 text-center">
    <div class="d-grid gap-2">
      <form action="/instructions">
        <button id="load-btn" class="btn btn-primary">How To Play</button>
      </form>
    </div>
</div>
<script src="/static/memes.js"></script>

{% endblock %}