{% extends 'base.html' %}

{% block title %} Memeo Instructions {% endblock %}

{% block content %}
<div class="container-parent">
  <div class="container mt-5 container-instructions">
    <div class="instruction-header">
      <h3>What We Meme</h3>
    </div>
    <ul class="instruction-list">
      <li>
        <img src="/static/images/memeo-gameover.png" alt="Memeo logo">
        <span class="fw-bold">Goal:</span> Guess the hidden meme in as few rounds as possible.
      </li>
      <li>
        <img src="/static/images/memeo-gameover.png" alt="Memeo logo">
        You will have 6 attempts to guess the meme.
      </li>
      <li>
        <img src="/static/images/memeo-gameover.png" alt="Memeo logo">
        New tiles are revealed with every incorrect guess.
      </li>
      <li>
        <img src="/static/images/memeo-gameover.png" alt="Memeo logo">
        Submit your answers in the search bar.
      </li>
    </ul>
    <div class="text-center">
      <h3>Good luck!</h3>
    </div>
  </div>
  <div class="container mt-5 text-center">
    <div class="d-grid gap-2">
      <form action="/select-game-meme">
        <button class="btn btn-primary">Start Game</button>
      </form>
    </div>
</div>
</div>
  
  
  

{% endblock %} 